.botao{
    border: hidden;
    width: 400px;
    height: 130px;
    background-color: blue;
    text-align: center;
    border-radius: 100px;
    position: relative;
    left: 35%;
    top: 270px;
}
.botao:hover{
    background-color: green;
}
.bottom{
    text-decoration: none;
    color: white;
    position: relative;
    top: 40px;
    font-size: 300%;
}