<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="CSS/Style4.css">

</head>
<body>
    <div id="Home">
        <img id="lupa" src="imagens/lupa.png" width="80px" height="62px" id="imglupa">
        <p class="link"> www.personabags.com.br</p>
        <img src="imagens/comp.png" width="80px" height="62px" id="imgcomp">
        <img src="imagens/risco.png" width="60px" height="12px" id="imgrisco">
    </div>
    
    <div class="inicio">
        <img id="Logo" src="imagens/LogoProjeto2-removebg-preview (2).png">
    <div class="titulo">
    <h1>Persona Bags</h1>
<p id="cor">Carregue sua personalidade com você.</p>
</div>
</div>
<div class="botaos">
    <a id="botao" href="#"> SOBRE </a>
    <a id="botao" href="#"> CATÁLOGO </a>
    <a id="botao" href="#"> AJUDA </a>
    <a id="botao" href="#"> LOGIN </a>
    <img id="lupa2" src="imagens/luupa.png">
</div>
<hr id="hr1">
<div id="Login">

    <div class="oi"><h1>Quem somos nós?</h1></div>
    <div id="caixalogin">
        <div id="mes">
            <div>A Persona Bags é uma loja perfeita para quem procura personalizar
                itens escolares e universitários como bolsas, estojos, mochilas e
                outros pertences.
            </div>
            <div>Ter seus pertences com uma pitada de originalidade é mais
                importante do que você imagina, por isso a nossa loja está pronta
                para te levar a qualquer lugar com os produtos da Persona Bags!
            
            </div>
        </div>
        <div>
            <div id="linhaa">
                <p>Telefone</p>
                <p>Segurança</p>
                <p>Avalie-nos</p>
                <p>Fale conosco</p>
            </div>
            <div id="triangulo"></div>
            <div id="circuloo"></div>
            <div id="circulo"></div>
            <div id="quadrado"> </div>
            <hr id="hr7">

    </div>
    
</body>
</html>