<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="CSS/Style3.css">

</head>
<body>
    <div id="Home">
        <img id="lupa" src="imagens/lupa.png" width="80px" height="62px" id="imglupa">
        <p class="link"> www.personabags.com.br</p>
        <img src="imagens/comp.png" width="80px" height="62px" id="imgcomp">
        <img src="imagens/risco.png" width="60px" height="12px" id="imgrisco">
    </div>
    
    <div class="inicio">
        <img id="Logo" src="imagens/LogoProjeto2-removebg-preview (2).png">
    <div class="titulo">
    <h1>Persona Bags</h1>
<p id="cor">Carregue sua personalidade com você.</p>
</div>
</div>
<div class="botaos">
    <a id="botao" href="#"> SOBRE </a>
    <a id="botao" href="#"> CATÁLOGO </a>
    <a id="botao" href="#"> AJUDA </a>
    <a id="botao" href="#"> LOGIN </a>
    <img id="lupa2" src="imagens/luupa.png">
</div>
<hr id="hr1">
<div id="Login">
    <div id="divcatalogos">
        <div><h1>Catalogo</h1></div>
        <div id="categoria">
        <div class="categorias">Mochilas</div>
        <div class="categorias">Bolsas</div>
        <div class="categorias">Estojos</div>
        <div class="categorias">Carteiras</div>
        <div class="categorias">Necessaire</div>
        <div class="categorias">Edição Limitada</div>
        </div>
    </div>
    <div id="ciir"></div>
    <div id="ci"></div>
    <div id="cc"></div>
    <div id="crc"></div>
    <div id="divs2"> </div>
<div id="meiadiv">
    <div id="meiadiv1">
        <div id="divbolsas0"><div class="divbolsas"><img src="imagens/necessaire.png" class="bolsas"><div>A partir de</div></div><div id="preco1">R$ 24,90</div></div>
        <div id="divbolsas0"><div class="divbolsas"><img src="imagens/19.png" class="bolsas"><div>A partir de</div></div><div id="preco2">R$ 19,90</div></div>
        <div id="divbolsas0"><div class="divbolsas"><img src="imagens/39.png" class="bolsas"><div>A partir de</div></div><div id="preco3">R$ 39,90</div></div>
    </div>
    <div id="meiadiv2">
        <div id="divbolsas0"><div class="divbolsas"><img src="imagens/26.png" class="bolsas"><div>A partir de</div></div><div id="preco4">R$ 26,90</div></div>
        <div id="divbolsas0"><div class="divbolsas"><img src="imagens/69.png" class="bolsas"><div>A partir de</div></div><div id="preco5">R$ 69,90</div></div>
        <div id="divbolsas0"><div class="divbolsas"><img src="imagens/12.png" class="bolsas"><div>A partir de</div></div><div id="preco6">R$ 12,90</div></div>

    </div>
</div>
</div>

<div id="linhaa">
    <p>Telefone</p>
    <p>Segurança</p>
    <p>Avalie-nos</p>
    <p>Fale conosco</p>
</div>
<hr id="hr7">
</div>
    
</body>
</html>