<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="CSS/Style2.css">

</head>
<body>
    <div id="Home">
        <img id="lupa" src="imagens/lupa.png" width="80px" height="62px" id="imglupa">
        <p class="link"> www.personabags.com.br</p>
        <img src="imagens/comp.png" width="80px" height="62px" id="imgcomp">
        <img src="imagens/risco.png" width="60px" height="12px" id="imgrisco">
    </div>
    
    <div class="inicio">
        <img id="Logo" src="imagens/LogoProjeto2-removebg-preview (2).png">
    <div class="titulo">
    <h1>Persona Bags</h1>
<p id="cor">Carregue sua personalidade com você.</p>
</div>
</div>
<div class="botaos">
    <a id="botao" href="#"> SOBRE </a>
    <a id="botao" href="#"> CATÁLOGO </a>
    <a id="botao" href="#"> AJUDA </a>
    <a id="botao" href="#"> LOGIN </a>
    <img id="lupa2" src="imagens/luupa.png">
</div>
<hr id="hr1">
<div id="Login">

<div class="oi"><h1>Precisa de ajuda?</h1></div>

<div id="retangulo">
    <div id="txtr"></div>
<p class="p1">Como comprar no site</p>
<hr id="hr2">
<p>Onde posso encontrar as configurações?</p>
<hr id="hr2">
<p>O site aceita devoluções?</p>
<hr id="hr2">
<p>Onde encontro minhas informações de login?</p>
<hr id="hr2">
<p>Outras</p>
</div>

<div id="linhaa">
    <p>Telefone</p>
    <p>Segurança</p>
    <p>Avalie-nos</p>
    <p>Fale conosco</p>
</div>
<hr id="hr7">
</div>
<div>
<div id="triangulo"></div>
<div id="circulo"></div>
<div id="quadrado"> </div>
</div>

</body>
</html>