@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
*{
    padding: 0;
    margin:0 ;
    border:0 ;
    box-sizing: 0;
}
#container{
    width: 100%;
    height: 1000px;
    margin: 5px;
    display:flex ;
}
body{
    font-family: Milonga;
    width: 99.5%;
    height: 857px;
    background-image: linear-gradient(
        to bottom,
 rgb(194, 134, 250),
 rgb(240, 112, 240),
 rgb(123, 235, 235)
 );
 background-size: cover;
 background-repeat:no-repeat ;
}
#Home{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 100.5%;
}
.link{
    border: 1px solid black;
    border-radius: 10px;
    width: 1000px;
    height: 30px;
    margin-left: 100px;
    padding-left: 40px;
}
img#lupa{
    position: absolute;
    margin-left: 110px;
    margin-top: 1px;
    width: 20px;
    height: 20px;
}
#imgcomp{
    margin-left: 50px;
    margin-top: 5px;
    width: 40px;
    height: 40px;
}
#imgrisco{
    margin-left: 70px;
    margin-top: 5px;
    width: 40px;
    height: 30px;
}
img#Logo{
    width: 110px;
    height: 110px;
    margin-left: 30px;
}
.inicio{
    display: flex;
    font-family: Milonga;
    margin-top: 10px;
}
.titulo{
    margin-left: 80px;
    font-size: 22px;
}
#cor{
    color:white;
    font-size: 16px;
}
/*botaos*/
.botaos{
    display:flex;
    justify-content: space-around;
    font: size 50px;
    padding: 20px;
    border-style: solid;
}
a#botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background: aqua;
    padding: 6px;
    border-radius: 100px;
    width: 200px;
    text-decoration: underline black;
    color: black;
    font-family: 'Times New Roman';
}
#lupa2{
    width: 20px;
    height: 20px;
}

#retangulo{
    position: absolute;
    display: flex;
    align-items: center;
    width: 400px;
    height: 250px;
    left: 104px;
    top: 288px;
    background: linear-gradient( rgba(255, 214, 221, 0.603), rgba(255, 255, 255, 0.652));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}
#retangulo2{
    position: absolute;
    display: flex;
    align-items: center;
    width: 400px;
    height: 250px;
    left: 804px;
    top: 288px;
    background: linear-gradient( rgba(255, 214, 221, 0.603), rgba(255, 255, 255, 0.652));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}

#retangulo3{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
    left: 104px;
    top: 570px;
    background: linear-gradient( rgba(255, 214, 221, 0.603), rgba(255, 255, 255, 0.652));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;}
    
#retangulo4{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 100px;
        left: 804px;
        top: 570px;
        background: linear-gradient( rgba(255, 214, 221, 0.603), rgba(255, 255, 255, 0.652));
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 13px;}

#quadrado{
    position: absolute;
    width: 180px;
    height: 190px;
    background: linear-gradient(to bottom, rgb(4, 255, 4),rgb(8, 8, 255) );
    opacity: 50%;
    margin-left: 0px;
    margin-top: 290px;

}
#circulo{
    position: absolute;
    background-image: linear-gradient(rgb(39, 11, 255), rgb(255, 118, 255));
    border-radius: 50%;
    opacity: 30%;
    width: 230px;
    height: 230px;
    margin-left: 50px;
    margin-top: 180px;
}
#triangulo{
    position: absolute;
    margin-top: 180px;
    margin-left: 1200px;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 250px solid rgb(225, 62, 62);
    opacity: 60%;
}
#circuloo{
    position: absolute;
    background-color: yellow;
    border-radius: 50%;
    opacity: 30%;
    width: 200px;
    height: 200px;
    margin-top: 380px;
    margin-left: 1330px;
}
.ppp{
    margin-top: 15px;
    margin-left: 100px;
    color:rgb(255, 255, 255)
}
#gf{
    margin-left: 1320px;
    color: aliceblue;
    margin-top: -70px;
    position: absolute;
} 
#ba{
    
}
#linha{
    width: 100%;
    padding-top: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#hr2{
    border: solid 1px violet;
    margin-left: 50px;
    margin-right: 50px;
}
#hr1{
    border: solid 1px aqua;
    margin-left: 50px;
    margin-right: 50px;
}