#cabecalho {
    text-align: center;
    color:aliceblue;(109, 147, 72);
    background-image: url();
    background-size: 30% 30%;
}
body{
    background-image: url("CAPA.webp");
    background-repeat: no-repeat;
    background-size:cover
}