@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');

*{
    padding: 0;
    margin:0 ;
    border:0 ;
    box-sizing: 0;
}
#container{
    width: 100%;
    height: 990px;
    margin: 5px;
    display:flex ;
}
body{
    font-family: Milonga;
    width: 99.5%;
    height: 857px;
    background-image: linear-gradient(
        to bottom,
 rgb(194, 134, 250),
 rgb(240, 112, 240),
 rgb(123, 235, 235)
 );
 background-size: cover;
 background-repeat:no-repeat ;
}
#Home{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 100.5%;
}
.link{
    border: 1px solid black;
    border-radius: 10px;
    width: 1000px;
    height: 30px;
    margin-left: 100px;
    padding-left: 40px;
}
img#lupa{
    position: absolute;
    margin-left: 110px;
    margin-top: 1px;
    width: 20px;
    height: 20px;
}
#imgcomp{
    margin-left: 50px;
    margin-top: 5px;
    width: 40px;
    height: 40px;
}
#imgrisco{
    margin-left: 70px;
    margin-top: 5px;
    width: 40px;
    height: 30px;
}
img#Logo{
    width: 110px;
    height: 110px;
    margin-left: 30px;
}
.inicio{
    display: flex;
    font-family: Milonga;
    margin-top: 10px;
}
.titulo{
    margin-left: 80px;
    font-size: 22px;
    color: #000;
}
#cor{
    color:white;
    font-size: 16px;
}
/*botaos*/
.botaos{
    display:flex;
    justify-content: space-around;
    font: size 50px;
    padding: 20px;
    border-style: solid;
}
a#botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background: aqua;
    padding: 6px;
    border-radius: 100px;
    width: 200px;
    text-decoration: underline black;
    color: black;
    font-family: 'Times New Roman';

}
#lupa2{
    width: 20px;
    height: 20px;
}
#hr1{
    border: solid 1px aqua;
    margin-left: 50px;
    margin-right: 50px;
}
.oi{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
#retangulo{
    position: absolute;
    width: 720px;
    height: 250px;
    left: 400px;
    top: 435px;
    background: #FFFFFF;
    border-radius: 44px;
    justify-content: center;
    margin-top: -60px;
    font-family: 'Times New Roman';
    padding: 20px;
    padding-left: 40px;
    
}
#txtr{
    display: flex;
    flex-direction: column;
    margin-left: -60px;
    font-size: small    ;
}
#hr2{
    border: solid 1px rgb(190, 110, 244);
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.p1{
    margin-top: 20px;
}
#hr7{
    border: solid 2px violet;
    width: 1300px;
    position: absolute;
    right: 100px;
    top: 820px;
}
#linhaa{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    right: 300px;
    top: 790px;
    font-family: 'Times New Roman';
}

#triangulo{
    position: absolute;
    margin-left: 260px;
    margin-top: -90px;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 230px solid rgb(225, 62, 62);
    opacity: 60%;
}
#circulo{
    position: absolute;
    background-image: linear-gradient(rgb(39, 11, 255), rgb(255, 118, 255));
    border-radius: 50%;
    opacity: 30%;
    width: 200px;
    height: 200px;
    margin-left: 1120px;
    margin-top: 180px;
}
#quadrado{
    position: absolute;
    width: 141px;
    height: 120px;
    background: linear-gradient(to bottom, rgb(4, 255, 4),rgb(8, 8, 255) );
    opacity: 52%;
    margin-left: 1160px;
    margin-top: 280px;

}